
<div class="container">
    <h2><%= @conference.name %> </h2>
    <div class="row">
        <div class="col">
            <h3>How many times a user has spoken</h3>
                <table class="table">
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Times user spoken</th>
                    </tr>
                    <% @numberUserSpeak.each do |key,value| %>
                        <tr>
                        <td><%= key.to_s %></td>
                        <td><%= value.to_s %></td>
                        </tr>
                    <% end %>
                </table>
        </div>
        <div class="col">
            <%= pie_chart @numberUserSpeak, width: "33vw", height: "250px" %>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Average Time</h3>
                <table class="table ">
                    <tr>
                        <th>User</th>
                        <th>Average time user speak</th>
                    </tr>
                    <% @averageUserSpeak.each do |key,value| %>
                        <tr>
                        <td><%= key.to_s %></td>
                        <td><%= value.to_s %>s</td>
                        </tr>
                    <% end %>
                </table>
        </div>
        <div class="col">
            <%= pie_chart @averageUserSpeak, width: "33vw", height: "250px" %>
        </div>
    </div>
    <h3>Biggest and least contributor</h3>
        <table class="table">
            <tr>
                <td>The most talkative</td>
                <td><%= @biggestContributor[0] %></td>
            </tr>
            <tr>
                <td>The least talkative</td>
                <td><%= @leastContributor[0] %></td>
            </tr>

        </table>

    <h3> Conference call participant audio segments </h3>
        <table class="table table-bordered">
         <thead class="thead-dark">
            <tr>
                <th scope="col">User</th>
                <th scope="col">Audio start</th>
                <th scope="col">Audio End</th>
            </tr>
        </thead>
            <% @audios.each do |as| %>
            <tr>
                <td><%= as.user.name %></td>
                <td><%= as.audioStart.strftime("%H:%M:%S") %></td>
                <td><%= as.audioEnd.strftime("%H:%M:%S") %></td>
            </tr>
            <% end %>
        </table>
</div>